data/
logs/
samples/
out/
ray_results/

# compiled / optimized files
__pycache__/
*.pyc
.cache
.nv

# additional plugins
.keras

# VS Code settings
.vscode/

# Jupyter Notebook
ipynb/
.ipynb_checkpoints
*.ipynb

# Environments
.vscode
.idea
.env
.venv
env/
venv/
ENV/

# slurm shell scripts
*.sh
