data/
logs/
samples/
out/
scripts/

# compiled / optimized files
__pycache__/

# debug code/configurations
*debug*.*

# Jupyter Notebook
ipynb/
.ipynb_checkpoints
*.ipynb

# Environments
.vscode
.idea
.env
.venv
env/
venv/
ENV/
